.rates-block {
    width: 100%;
    margin-top: 50px;
}
.rates {
    display: flex;
    justify-content: space-around;
}
.rates-block h1 {
    text-align: center;
}
.base {
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
}
.base span {
    font-size: 24px;
    font-weight: bold;
}
.dollar, .euro, .byn {
    width: 200px;
}
.valute-title {
    text-align: center;
}
.valute-title span {
    font-weight: bold;
    font-size: 30px;
}
.valute-name {
    font-size: 14px;
    opacity: 0.5;
}
.value {
    margin-top: 10px;
    font-size: 24px;
    opacity: 0.7;
}

