.rates {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.rates-block {
    width: 100px;
    padding: 20px;
    border: 2px solid white;
    border-radius: 30px;
    margin: 15px;

}

.rates-block h1 {
    width: 200px;
    margin: auto;
    text-align: center;
}
.base {
    width: 200px;
    margin: 20px auto;
    text-align: center;
    font-size: 20px;
    padding: 5px;
}
.base span {
    font-size: 24px;
    font-weight: bold;

}
.dollar, .euro, .byn {
    width: 200px;
    padding: 20px;
    border: 2px solid white;
    border-radius: 30px;
}
.valute-title {
    text-align: center;
}
.valute-title span {
    font-weight: bold;
    font-size: 30px;
}
.valute-name {
    font-size: 14px;
    opacity: 0.5;
}
.value {
    margin-top: 10px;
    font-size: 24px;
    opacity: 0.7;
}

